<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <main class="registro">
        <section class="titular">
            <h2 class="titulo">Inicia sesión</h2>
            <p class="parrafo">y disfruta de las promociones. Si aun no tienes una cuenta, en pocos pasos podrás registrarte</p>
            <div class="box-img"><img class="coffee" src="/images/mug_coffee_PNG97438.png" alt="coffee"></div>
        </section>
        <form class="log" id="form-login" action="" method="POST">
            <input id="email-log" class="input-g" type="email" name="email" autocomplete="off" placeholder="E-mail" value="<%= locals.old && old.email ? old.email : null %>">
            <span id="email-log-error" class="red-msg"><%= locals.errors && errors.email ? errors.email.msg : null %></span>

            <input id="pass-log" class="input-g" type="password" name="pass" placeholder="Contraseña">
            <span id="pass-log-error" class="red-msg"><%= locals.errors && errors.pass ? errors.pass.msg : null %></span>

            <label class="check" for="rec">
                <input class="sesion" type="checkbox" name="sesion" id="rec">
                Recordar el inicio de mi cuenta
            </label>
            <a class="password" href="/users/forgot">¿Olvidaste tu contraseña?</a>
            <p class="invalid" id="error-empty-log"></p>
            <div class="buttons">
                
                <a class="registrar-btn" href="/users/registro"><button class="btn-g" type="button">Registrate</button></a>
                <button class="btn-g" type="submit">Entrar a mi cuenta</button>
            </div>
        </form>
    </main>
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>
</html>