<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="registro">
        <section class="titular">
            <h2 class="titulo">Perfil de <%= user.name %></h2>
            
            <div class="box-img"><img class="coffee" src="/images/mug_coffee_PNG97438.png" alt="coffee"></div>
        </section>

        <div class="box-img-user">
            <img class="img-user" src="/images/users/<%= user.avatar %>" alt="usuario">
        </div>
        <section id="form-profile" class="log">
            <p class="input-g">Nombre: <span><%= user.name %></span></p>

            <p class="input-g">Apellido: <span><%= user.lastName %></span></p>

            <p class="input-g">E-mail: <span><%= user.email %></span></p>

            <p class="input-g">Contraseña: <input disabled type="password" value="<%= user.password %>"></p>

            <button class="btn-g" type="submit"><a href="/users/profileEdit">Editar perfil</a></button>
        </section>
    </main>
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>
</html>