<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body class="register">
    <%- include('../partials/header') %>

    <main class="registro">
        <section class="titular">
            <h2 class="titulo">Perfil de <%= locals.userLogin.name %></h2>
            
            <div class="box-img"><img class="coffee" src="/images/mug_coffee_PNG97438.png" alt="coffee"></div>
        </section>
        <form class="log" action="/users/profile?_method=PUT" method="POST" enctype="multipart/form-data">
            <input class="input-g" type="text" name="name" placeholder="Nombre" value="<%= user.name %>">
            <span class="red-msg"><%= locals.errors && errors.name ? errors.name.msg : null %></span>

            <input class="input-g" type="text" name="lastName" placeholder="Apellido" value="<%= user.lastName %>">
            <span class="red-msg"><%= locals.errors && errors.lastName ? errors.lastName.msg : null %></span>

            <input class="input-g" type="email" name="email" placeholder="E-mail" value="<%= user.email %>">
            <span class="red-msg"><%= locals.errors && errors.email ? errors.email.msg : null %></span>

            <input class="input-g" type="password" name="oldPass" placeholder="Ingresa la contraseña">
            <span class="red-msg"><%= locals.errors && errors.pass ? errors.pass.msg : null %></span>

            <input class="input-g" type="password" name="pass" placeholder="Elige nueva contraseña">
            <span class="red-msg"><%= locals.errors && errors.pass ? errors.pass.msg : null %></span>

            <input class="input-g" type="password" name="pass2" placeholder="Confirmar contraseña">
            <span class="red-msg"><%= locals.errors && errors.pass2 ? errors.pass2.msg : null %></span>

            <input class="input-g" type="file" name="user" accept="image/*">
            <span class="red-msg"><%= locals.errors && errors.user ? errors.user.msg : null %></span>

            <button class="btn-g" type="submit">Guardar cambios</button>
        </form>
    </main>
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>
</html>