<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body class="register">
    <%- include('../partials/header') %>

    <main class="registro">
        <section class="titular">
            <h2 class="titulo">Registrate</h2>
            <p class="parrafo">Ingresa tus datos y accede a beneficios exclusivos. Nuestras promociones y descuentos te están esperando.</p>
            <div class="box-img"><img class="coffee" src="/images/mug_coffee_PNG97438.png" alt="coffee"></div>
        </section>
        <form class="log" action="" method="POST" enctype="multipart/form-data">
            <input class="input-g" type="text" name="name" placeholder="Nombre" value="<%= locals.old && old.name ? old.name : null %>">
            <span class="red-msg"><%= locals.errors && errors.name ? errors.name.msg : null %></span>

            <input class="input-g" type="text" name="lastName" placeholder="Apellido" value="<%= locals.old && old.lastName ? old.lastName : null %>">
            <span class="red-msg"><%= locals.errors && errors.lastName ? errors.lastName.msg : null %></span>

            <input class="input-g" type="email" name="email" placeholder="E-mail" value="<%= locals.old && old.email ? old.email : null %>">
            <span class="red-msg"><%= locals.errors && errors.email ? errors.email.msg : null %></span>

            <input class="input-g" type="password" name="pass" placeholder="Elige una contraseña">
            <span class="red-msg"><%= locals.errors && errors.pass ? errors.pass.msg : null %></span>

            <input class="input-g" type="password" name="pass2" placeholder="Confirmar contraseña">
            <span class="red-msg"><%= locals.errors && errors.pass2 ? errors.pass2.msg : null %></span>

            <input class="input-g" type="file" name="avatar" accept="image/*">
            <span class="red-msg"><%= locals.errors && errors.avatar ? errors.avatar.msg : null %></span>

            <div class="r-btn">
                <input class="radio" type="radio" name="aceptar" id="aceptar">
                <label for="aceptar">Acepto los términos y condiciones</label>
                <p class="red-msg"><%= locals.errors && errors.aceptar ? errors.aceptar.msg : null %></p>
            </div>
            <button class="btn-g" type="submit">Crear cuenta</button>
        </form>
    </main>
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>
</html>