<!DOCTYPE html>
<html lang="es">
<%- include('partials/head',) %>
<body class="detail">
    <%- include('partials/header') %>

    <main class="detalle">
            <div class="product">
                <div class="photo-description">
                    <section class="photo">
                        <img src="/images/products/<%= product.images[0].file %>" alt="<%= product.name %>">
                    </section>
                    <section class="descripcion">
 
                        <div class="precio">
                            <h2 class="name"><%= product.name %></h2>
                            <p class="description-detail"><%= product.description %></p>

                            <div class="color-precio">
                                <p class="color-select">Color</p>
                                <select name="" id="">
                                    <option>Unico</option>
                                </select>
                                <span class="price">$<%= product.price %></span>
                                
                            </div>
                            
                            <div class="favoritos-boton">
                                <select name="" id="">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                </select>
                                <button type="submit">Agregar al carrito</button>
                                
                            </div> 
                        </div> 
                        <div class="compartir-producto">
                        <p class="texto-compartir">COMPARTIR</p>
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-pinterest-p"></i>
                        </div>

                        
                    </div>
                
                </section>
            </div>
            
            <!-- Caja de comentarios -->
            <h3 class="comentarios-box" data-aos="fade-right">Comentarios</h3>
            <div class='comments' data-aos="fade-up" data-aos-duration="2000">
                <div class='loader'></div>
                <div class='inner'>
                  <div class='add-new'>
                    <input class='input your-name' placeholder='Nombre' type='text'>
                    <textarea rows="4" cols="50" class='input your-msg' placeholder='Escribí tu comentario'></textarea>
                    <button class='send-msg'>Comentar</button>
                  </div>
                </div>
              </div>
    






    </main>    
    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
  <script src="/javascript/comentarios.js"></script>
    
</body>
</html>
