<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body class="detail">
    <header class="cont-header">


        <div class="logueo">
            <a href="/users/login"><i class="fas fa-user"></i></a>
            <a href=""><i class="far fa-heart"></i></a>
            <a href="/cart"><i class="fas fa-shopping-bag"></i></a>
        </div>

        <a href="/"><img src="/images/giveOneTNC2.png" alt="" srcset="" class="logotipo"></a>
        <nav class="hamburguesa">
            <input type="checkbox" id="menu" class="cont-inp">
            <label for="menu" class="hamburguesa"> ☰ </label>
            <ul class="cont-u">
                <li><a>Cubiertos</a></li>
                <li><a>Vajilla</a></li>
                <li><a>Cristaleria</a></li>
                <li><a>Cafe y Te</a></li>
                <li><a>Contacto</a></li>
            </ul>
        </nav>

    </header>


    <header class="cont-header2">

        <div class="contenedor-padre">
            <div class="logo">
                <a href="/"><img src="/images/giveOneTNC.png" width="150px" alt=""></a>
            </div>
            <div class="iconos-navegador">

                <div class="iconos-buscador">
                    <a href="/users/registro">
                        <p class="texto"><i class="fas fa-sign-in-alt"></i>Registrarme</p>
                    </a>
                    <a href="/users/login">
                        <p class="texto"><i class="fas fa-user-alt"></i>Mi cuenta</p>
                    </a>
                    <div class="iconos">
                        <div class="buscador-ip">
                            <input class="buscar" type="text" >
                            <button class="botonn">
                                <i class="fas fa-search"></i>
                            </button>
                            <i class="far fa-heart"></i>
                        <a class="cora" href="/cart"><i class="fas fa-shopping-bag"></i></a>
                    </div>
                </div>
                </div>
                <div class="navegador">
                    <p class="categoria">CUBIERTOS</p>
                    <P class="categoria">VAJILLA</P>
                    <p class="categoria">CRISTALERÍA</p>
                    <p class="categoria">CAFÉ Y TÉ</p>
                    <p class="categoria">CONTACTO<i class="far fa-question-circle"></i></p>

                </div>

            </div>
        </div>
        <div class="envio">
            <p>ENVÍO GRATIS EN COMPRAS MAYORES A $5.000</p>
        </div>

    </header>

    <main class="cont-main">

        <p class="ofertax">Lista de productos</p>
        <section class="product">

            <% products.forEach(product => { %>
                <div class="contenedor-pro">
                    <article class="uno">
    
                        <img src="/images/<%= product.image %>" alt="<%= product.name %>">
                        <div class="fav1">
                            <i class="far fa-heart"></i>
                            </div>
                        <div class="data-product">
                            <h4><%= product.name %></h4>
                            <p>$<%= product.price %></p>
                            <br>
                            <div class="buttons">
                                <a href="/admin/edit/<%= product.id %>" class="registrar-btn">
                                    <button class="btn-g" type="button">Editar</button>
                                </a>
                                <form action="/admin/delete/<%= product.id %>?_method=DELETE" method="POST" class="registrar-btn">
                                    <button class="btn-g" type="submit">Eliminar</button>
                                </form>
                            </div>
                        </div>
                    </article>
                </div>
            <% }) %>

        </section>

    </main>

    <footer>

        <section class="listas">

            <div class="contenedor-navegacion">
                <a href="" class="texto-principal">NAVEGACIÓN</a>
                <p> Quiènes Somos</p>
                <p>Como comprar</p>
                <p>Formas de Pago</p>
                <p>Medios de Envío</p>

            </div>
            <div class="contenedor-venta">
                <a href="" class="texto-principal">VENTA ONLINE</a>
                <p class="whatsapp"><i class="fab fa-whatsapp"></i> Teléfono venta online: 011 xx-xxxxx</p>
                <p>Mail: ventasonlinegive@One.com.ar</p>
                <p>Horario de atención: </p>
                <p>Lunes a Viernes de 9 a 17:00hs</p>
            </div>

            <div class="contenedor-subs">

                <form action="" method="GET">
                    <label class="title" for="suscripcion">NEWLETTER</label>
                    <p class="subscrib">Suscribite a nuestro Newletter.</p><br>

                    <input type="email" name="suscripcion" placeholder="Direccion de email" required><br>

                    <button><i class="fas fa-angle-right"></i></button>

                </form>
            </div>
            <div class="contenedor-redes">

                <a class="texto-principal" href="">SEGUÍNOS</a>
                <div class="instagram">
                    <i class="fab fa-instagram"></i>
                </div>
                <div class="facebook">
                    <i class="fab fa-facebook-f"></i>
                </div>

            </div>
        </section>

        <div class="copyright">
            <h4>Copyright@ GIVE ONE S.L.R todos los derechos reservados.</h4>
        </div>
    </footer>
</body>
</html>