<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {title: "Editar Producto : " + product.name}) %>
<body class="register">
    <%- include('../partials/header') %>

    <main class="registro">
        <section class="titular">
            <h2 class="titulo">Actualización del producto</h2>
            <p class="parrafo"><%= product.name %></p>
            <div class="box-img"><img class="coffee" src="/images/mug_coffee_PNG97438.png" alt="coffee"></div>
        </section>
        <form class="log" action="/admin/products/edit/<%= product.id %>?_method=PUT" method="POST">
            <input class="input-g" type="text" name="name" placeholder="Nombre" value="<%= product.name %>">
            <span class="text-danger small"><%= locals.errores && errores.name ? errores.categoria.msg : null %> </span>
            
            <textarea class="input-g" name="description" placeholder="Descripción" cols="20" rows="5"><%= product.description %></textarea>
 
            
            <input class="input-g" type="number" name="price" placeholder="Precio" value="<%= product.price %>">
            <span class="text-danger small"><%= locals.errores && errores. ? errores.categoria.msg : null %> </span>
            
            <input class="input-g" type="text" name="category" placeholder="categoría" value="<%= product.category.id %>">
            <span class="text-danger small"><%= locals.errores && errores. ? errores.category.msg : null %> </span>
            
            <input class="input-g" type="file" name="image" accept="image/*" value="">
            
            <div class="r-btn">
                <button class="btn-g" type="submit">Guardar cambios</button>
            </div>
        </form>
    </main>
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>
</html>