<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body class="detail">
    <%- include('../partials/header') %>

    <main class="cont-main">

        <p class="ofertax">Lista de productos</p>
        <section class="product">

            <% products.forEach(product => { %>
                <div>
                    <% if (product.id == 2) { %>
                        <article class="dos">
                    <% } else { %>
                        <article class="cuatro">
                    <% } %>
                        <img src="/images/products/<%= product.image %>" alt="<%= product.name %>">
                        
                        <div class="data-product">
                            <h4><%= product.name %></h4>
                            <p>$<%= product.price %></p>
                            <br>
                            <div class="buttons">
                                <a href="/admin/products/edit/<%= product.id %>" class="registrar-btn">
                                    <button class="btn-g" type="button">Editar</button>
                                </a>
                                <form action="/admin/delete/<%= product.id %>?_method=DELETE" method="POST" class="registrar-btn">
                                    <button class="btn-g" type="submit">Eliminar</button>
                                </form>
                            </div>
                        </div>
                    </article>
                </div>
            <% }) %>

        </section>

    </main>

    <%- include('../partials/footer') %>
</body>
</html>