<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {title: "Editar Producto : " + product.name}) %>
<body class="register">
    <%- include('../partials/header') %>

    <main class="registro">
        <section class="titular">
            <h2 class="titulo">Actualización del producto</h2>
            <p class="parrafo"><%= product.name %></p>
            <div class="box-img"><img class="coffee" src="/images/mug_coffee_PNG97438.png" alt="coffee"></div>
        </section>
        <form class="log" id="formulario" action="/admin/products/edit/<%= product.id %>?_method=PUT" method="POST">
            <!--Grupo:Nombre-->
            <div class="formulario__grupo " id="grupo__nombre">
                <div class="formulario__grupo-input">
                    <input class="input-g formulario__input" id="nombre" type="text" name="name" placeholder="Nombre" value="<%= product.name %> ">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <span class="red-msg"><%= locals.errors && errors.name ? errors.name.msg : null %> </span>
                <p class="formulario__input-error" >El nombre deberá tener al menos 5 caracteres</p>
            </div>
            
            <!--Grupo:Descripcion-->
            <div class="formulario__grupo" id="grupo__descripcion">
                <div class="formulario__grupo-input">
                <textarea class="input-g formulario__input" id="descripcion" name="description" placeholder="Descripción"  value=""> <%= product.description %> </textarea>
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                    <span class="red-msg" ><%= locals.errors && errors.description ? errors.description.msg : null %> </span>
                    <p class="formulario__input-error" >La descripción debe contener al menos 20 caracteres</p>
            </div>
 
            
            <input class="input-g" type="number" name="price" id="price"  placeholder="Precio" value="<%= product.price %>">
            <span class="red-msg"><%= locals.errors && errors.price ? errors.price.msg : null %> </span>
            
            <input class="input-g" type="text" name="categoryId" id="categoryId"  placeholder="categoría" value="<%= product.category.id %>">
            <span class="red-msg"><%= locals.errors && errors.categoryId ? errors.categoryId.msg : null %> </span>
            
            <input class="input-g" id="images" type="file" name="image" accept="image/*" value="">

            <!--Mensaje de Error-->
            <div class="formulario__mensaje" id="formulario__mensaje">
                <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
            </div>
            
            <div class="r-btn">
                <button class="btn-g" type="submit">Guardar cambios</button>
            </div>
        </form>
    </main>
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>
</html>